/* font-family: 'Fredoka One', cursive; Headings
font-family: 'Tajawal', sans-serif; Text */

h1, h2, h3, h4, h5, li{
    font-family: 'Baloo Bhaina', cursive;
}

p {
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: lightgray;
    text-align: center;
}
.name {
    font-size: 40px;
}

.nav {
    display: inline-block;
}
nav ul {
    list-style-type: none;
}

h2 {
    font-size: 30px;
    padding: 20px;
}

p {
    font-size: 20px;
}
.projects p {
    color: grey;
}


main {
    background-color: rgb(241, 241, 241);
    margin: 20px;
    padding: 20px;
}

h3 {
    font-size: 25px;
    color:rgb(85, 85, 85);
}

main img {
    width: 450px;
}
.projects {
    display: inline-block;
    width: 450px;
    height: 450px;
    margin:  20px;
    vertical-align: middle;
}